.paperimage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__message {
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 10px black, -2px 1px 20px black;
    margin-bottom: 30px;
  }
}
.dropbox {
  width: 400px;
  height: 200px;
  border: 5px dashed white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__images {
    width: 320px;
    display: flex;
    justify-content: space-between;
    img {
      width: 100px;
      height: 100px;
    }
  }
  #input-type {
    display: none;
  }
  p {
    text-align: center;
    color: white;
  }
}
.wrapper {
  display: flex;
}
